Package: passgen
Version: 24.1.0
Architecture: all
Essential: no
Priority: optional
Depends: xclip
Maintainer: Ahad Fallah
Description: Passgen is an open-source command-line utility designed to generate secure passwords  with  various  customizable  options.


